a{
  color: #000000;
}

.your_challenges {
  padding-top: 100px;
  padding-bottom: 30px;

  .container {
    background: #f4f4f4;
    border-radius: 20px;
    padding: 60px;

    @media (max-width: 480px){
      padding: 20px;
    }

          .top-content {
              margin-bottom: 50px;

              span.meta {
                  font-size: 20px;
                  font-weight: normal;
                  font-style: normal;
                  color: #4eb3e8;
                  margin-bottom: 10px;
              }

              h2.heading {
                  font-size: 49px;
                  font-weight: normal;
                  line-height: 51px;
                  font-style: normal;
                  color: #000000;
                  margin-bottom: 20px;
                  width: 60%;

                  @media (max-width: 480px){
                    width: 100%;
                  }

                  @media (max-width: 992px) {
                      font-size: 40px;
                  }
                  @media (max-width: 767.5px) {
                      font-size: 35px;
                      margin-bottom: 30px;

                      br {
                          display: none;
                      }
                  }
                  @media (max-width: 575px) {
                      font-size: 30px;
                      margin-bottom: 15px;
                      line-height: 35px;
                  }
              }
              p.description {
                font-size: 18px;
                font-weight: normal;
                width: 90%;
                line-height: 26px;
                font-style: normal;
                color: #202020;

                @media (max-width: 992px) {
                    font-size: 16px;
                }
              }
          }

          .challanges_list {
              ul {
                width: 90%;
                li {
                  padding: 12px 20px;
                  background: #ebe0d3;
                  margin-bottom: 10px;
                  list-style: none;
                  border-radius: 10px;
                }
                li.active {
                  background: linear-gradient(66deg, #e6632a 0.00%, #ee8d80 100.00%);
                  color: #ffffff;
                }
              }
          }
          .bottom_content {
            .description {
              padding: 20px 0px;
              margin-left: 35px;
            }
            .btn_red {
              width: 300px;
              height: 66px;
              border-radius: 12px;
              margin-left: 35px;
              padding: 14px 38px;
              background: linear-gradient(-130deg, #ee8d80 0%, #e6632a 100%);
              color: white;
              border: none;
              cursor: pointer;
              font-size: 13px;
            }
          }
  }
}