
.parent_btn{
.container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  justify-content: center;
  margin-top: 3%;
}
  .button1{
    width: 300px;
    height: 66px;
    border-radius: 19px;
    padding: 10px 20px;
    background: white;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 13px;
  }
  .button2{
    width: 325px;
    height: 66px;
    border-radius: 19px;
    padding: 10px 20px;
    background: linear-gradient(-130deg,  #ee8d80 0.00%,  #e6632a 100.00%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 13px;
  }
  .button3 {
    width: 300px;
    height: 66px;
    border-radius: 19px;
    padding: 10px 20px;
    background: transparent;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 13px;
  }
  @media (max-width: 550px) {
    .container {
      flex-direction: column;
    }
  }
}