.sec1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .image-container, .content_container {
    flex-basis: 45%; /* Each div takes up 45% of the container */
    max-width: 500px; /* Max width of each div */
   h6{
    color: #4eb3e8;
   }
   text-align: justify;
  }

  .image-container img {
    max-width: 100%;
    height: auto;
  }

  @media (max-width: 768px) { /* Media query for smaller screens */
    .container {
      flex-direction: column;
    }

    .image-container, .content_container {
      flex-basis: 100%; /* Each div takes up 100% of the container */
    }
  }
  
  .last-container{
    margin-top: 7%;
    justify-content: center;
    align-items: center;
   
    text-align: center;
h6{
    color: #4eb3e8;
}
 

  }
  .p-txt{
    max-width: 60%;
    text-align: center;
    margin: auto;
    @media (max-width: 490px) { 
     max-width: 100%;
  }
}
.arrow_img{
    transform: translateX(60%); 
}
.btn-wrapper{
    margin-top: 60px;
}
.su-btn{
    display: flex;
    justify-content: center;
    @media (max-width: 490px) { 
      margin-left: 15%;
   }
}
}