.drodpown-wrapper{
    padding: 10px;
    .row{
        .col-lg-4{
            .box1{
                .row{
                    .col-lg-12{
                        .card1{
                            padding: 10px;
                            background: #71ba32;
                            background: linear-gradient(-134deg, #4eb3e8 0.00%,#71ba32 100.00%);
                        }
                        .card2{
                            padding: 50px;
                            background: #71ba32;
                            background: linear-gradient(-134deg, #4eb3e8 0.00%,#71ba32 100.00%);
                        }
                        .card3{
                            padding: 50px;
                            background: #71ba32;
                            background: linear-gradient(-134deg, #4eb3e8 0.00%,#71ba32 100.00%);
                        }
                    }
                }
            }
        }
    }
}