.dropdown-content{    
    p, h4, h5, h6{
        color: black;
    }
    p.box1-p{
        color: white;
    }
    p.box2-p{
        font-size: 11px;
    }
    p.box3-p{
        font-size: 10px;
    }
    h6.box3-h6{
        color: black;
        font-weight: normal;
        font-size: 21px;
    }
    .menu_anchor {
        text-decoration: unset;
    }
}