.left_right_content{

    @media (min-width: 1080px) {
        padding-bottom: 100px;
    }

    @media (max-width: 1024px) {
        padding-bottom: 50px;
    }
    
    .container {
        display: flex;
        flex-direction: row;

        .left_right_title {
            text-align: center;
        }

        .description {
            font-weight: 500;
            font-size: 2rem;
            text-transform: uppercase;
            padding-bottom: 15px;
        }

        @media (min-width: 520px) and (max-width: 1024px) {
            .description{
                font-size: 1.5rem;
            }
        }

        @media (max-width: 480px) {
            .description{
                font-size: 1rem;
            }
        }
    }
}