

.btn-capital {
    .bottom-btn {
        display: flex;
        justify-content: center;
        margin: 100px ;

        @media (max-width: 992px) {
            margin: 50px 20px 20px;
        }
        @media (max-width: 767.5px) {
            margin: 30px 20px 20px;
        }

        .container{
            display: flex;
            flex-direction: row;
                justify-content: center; /* Center the buttons horizontally */
                gap: 20px; /* Adjusted gap between buttons */
                @media (max-width: 992px) {
                    margin-top: 10%;
                }
                @media (max-width: 767.5px) {
                    margin-top: 28%;
                }
                @media (max-width: 490px) {
                    margin-top: 35%;
                
                    justify-content: center;
                    gap: 10px;
                
                }
    

        a.signup {
            width: 196px;
            height: 66px;
            border-radius: 19px;
            text-decoration: unset;
            background: linear-gradient(-130deg, #ee8d80 0.00%, #e6632a 100.00%);
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            outline: none;

            @media (max-width: 992px) {
                width: max-content;
                height: max-content;
                padding: 15px 20px;
                margin-top: 20px;
            }
            @media (max-width: 450px) {
                height: max-content;
                padding: 10px 10px;
                border-radius: 5px;
                height: 48px;
                margin-top: 20px;
                width: 120px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                text-align: center;
                color: #ebe0d3;
            }
        }
        a.learnmore{
            width: 196px;
            height: 66px;
            border-radius: 19px;
            background: inherit;
            text-decoration: unset;
            display: flex;
            color: black;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            outline: none;

            @media (max-width: 992px) {
                width: max-content;
                height: max-content;
                padding: 15px 20px;
                margin-top: 20px;
            }
            @media (max-width: 450px) {
                height: max-content;
                padding: 10px 10px;
                border-radius: 5px;
                height: 48px;
                margin-top: 20px;
            }

            span {
                font-size: 16px;
                font-weight: 500;
                font-style: normal;
                text-align: center;
                color: inherit;
            }
        }
    }
    }
}