.emp_three_columns {
    background-color: #EBE0D3;
    padding-top: 100px;
    
    @media (max-width: 768px) {
        padding-top: 25px;
    }

    .choose-container {
        width: 100%;
        padding: 0% 3%;
        margin: auto;

        .black-bg {
            background: radial-gradient(farthest-corner at 82% 8%, #5c5e62 0%, #0c0f14 100%) !important;
        }

        .choose-wrapper {
            padding: 140px 0;
            border-radius: 50px;
            // background: #f4f4f4;

            @media (max-width: 1200px) {
                padding: 120px 0;
            }
            @media (max-width: 992px) {
                padding: 80px 0;
            }
            @media (max-width: 767.5px) {
                padding: 60px 0;
            }

            .row {
                @media (max-width: 767.5px) {
                    margin: 0;
                }
                .col-md-12 {
                    .left-content {
                        
                        span.meta {
                            font-size: 20px;
                            font-weight: normal;
                            font-style: normal;
                            text-align: left;
                            color: #4eb3e8;
                            margin-bottom: 7px;
                        }
                        h2.heading {
                            font-size: 30px;
                            font-weight: normal;
                            line-height: 40px;
                            font-style: normal;
                            text-align: left;
                            color: #000000;
                            margin-bottom: 20px;

                            @media (max-width: 992px) {
                                font-size: 40px;
                            }
                            @media (max-width: 767.5px) {
                                font-size: 35px;
                                margin-bottom: 30px;
        
                                br {
                                    display: none;
                                }
                            }
                            @media (max-width: 575px) {
                                font-size: 30px;
                                margin-bottom: 15px;
                                line-height: 35px;
                            }
        
                            span {
                                background: -webkit-linear-gradient(180deg, #71ba32, #4eb3e8);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        p.description {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            font-style: normal;
                            text-align: left;
                            color: #202020;
                            margin-bottom: 20px;
                        }

                        .sec-btns {
                            display: flex;
                            align-items: center;
                            gap: 28px;

                            a {
                                width: 160px !important;
                                height: 56px;
                                border-radius: 19px;
                                text-decoration: unset;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                @media (max-width: 992px) {
                                    width: max-content;
                                    height: max-content;
                                    padding: 15px 20px;
                                }
                                @media (max-width: 450px) {
                                    height: max-content;
                                    padding: 10px 10px;
                                    border-radius: 5px;
                                    height: 48px;
                                }

                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    text-align: center;
                                    // color: #000000;
                                }
                            }

                            .learn-btn {
                                background: #71ba32;
                                background: linear-gradient(-130deg, 
                                #71ba32 0.00%, 
                                #4eb3e8 100.00%);
                                border: none;
                                
                                span {
                                    color: #EBE0D3;
                                }
                            }

                            .signup-btn {
                                border-color: #000000;
                                border-width: 2px;
                                border-style: solid;

                                span {
                                    // color: #000000;
                                }
                            }
                        }
                    }

                    .right-content {
                        .content-row {
                            display: flex;
                            flex-direction: column;
                            gap: 16px;

                            @media (max-width: 767.5px) {
                                padding: 60px 0px 0;
                            }

                            .content-box {
                                width: 100%;
                                height: 161px;
                                border-radius: 22px;
                                padding: 10px 10px;

                                @media (max-width: 1600px) {
                                    height: 100%;
                                }

                                h5.heading {
                                    font-size: 22px;
                                    font-weight: normal;
                                    line-height: 31px;
                                    font-style: normal;
                                    text-align: left;
                                    color: #000;
                                }

                                p.description {
                                    font-size: 16px;
                                    font-weight: normal;
                                    line-height: 26px;
                                    font-style: normal;
                                    text-align: left;
                                    color: #000;
                                    margin-top: 20px;
                                }
                            }

                            .mid_img {
                                padding-top: 20px;
                            }

                            // .content-box:hover {
                            //     background: linear-gradient(-134deg, 
                            //     #4eb3e8 0.00%, 
                            //     #71ba32 100.00%);
                            //     transform: translateY(-5px);

                            //     h5.heading {
                            //         color: #fff;
                            //     }

                            //     p.description {
                            //         color: #fff;
                            //     }
                            // }
                        }
                    }
                }
            }
        }
    }
}

.choose-sec.black-bg{

    .left-content{

        .heading {
            color: white !important;
        }

        .description{
            color: white !important;
        }
    }
}

.choose-wrapper.black-bg{
    margin-inline: 30px;

    @media (max-width: 767.5px){
        margin-inline: 15px;
        border-radius: 10px !important;
    }
}