.about-empower-sec {

    .opportunity-container {
        width: 100%;
        margin: auto;
        padding: 0px 3% 140px;

        .opportunity-wrapper {
            border-radius: 35px;
            padding: 50px 100px;
            background: radial-gradient(farthest-corner at 83% 8%, #71ba32 0%, #4eb3e8 100%);

            @media (max-width: 1200px) {
                padding: 120px 0;
            }
            @media (max-width: 992px) {
                padding: 80px 0;
            }
            @media (max-width: 767.5px) {
                padding: 60px 0;
            }

            .img_wrapper {
                position: relative;

                img.img1 {
                    position: absolute;
                    left: -145px;
                    top: 192px;
                    width: 19%;
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
                img.img2 {
                    position: absolute;
                    right: -135px;
                    top: -167px;
                    width: 30%;
                    @media (max-width: 480px) {
                        display: none;
                    }
                }
            }

            .row {
                @media (max-width: 767.5px) {
                    margin: 0;
                }
                .col-12 {
                    .left-content {
                        display: flex;
                        gap: 20px;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        @media (max-width: 767.5px) {
                            padding-right: 0px;
                        }
                        
                        span.meta {
                            font-size: 20px;
                            font-weight: 600;
                            font-style: normal;
                            text-align: left;
                            color: #fff;
                            margin-bottom: 7px;
                        }
                        h2.heading {
                            font-size: 49px;
                            font-weight: 600;
                            line-height: 51px;
                            font-style: normal;
                            text-align: left;
                            color: #000000;
                            margin-bottom: 20px;
                            text-align: center;

                            @media (max-width: 992px) {
                                font-size: 40px;
                            }
                            @media (max-width: 767.5px) {
                                font-size: 35px;
                                margin-bottom: 30px;
                            }
                            @media (max-width: 575px) {
                                font-size: 30px;
                                margin-bottom: 15px;
                                line-height: 35px;
                            }
        
                            span {
                                color: #ffffff;
                            }
                        }
                        p.description {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            font-style: normal;
                            text-align: center;
                            color: #fff;
                            margin-bottom: 20px;
                        }

                        .sec-btns {
                            display: flex;
                            align-items: center;
                            gap: 28px;

                            a {
                                width: 170px;
                                border-radius: 15px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background-color: #fff;
                                border: 1px solid #fff;
                                padding: 12px 18px;
                                text-align: center;


                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    text-align: center;
                                    color: #000000;
                                }

                                img {
                                    filter: brightness(1) invert(1);
                                }
                            }

                            .btn-transparent {
                                background-color: transparent;
                                border: 2px solid white;
                                color: white;

                                span{
                                    color: white;
                                }
                            }
                        }
                    }

                    .right-content {
                        @media (max-width: 767.5px) {
                            padding: 60px 0px 10px;
                        }
                        .section-img {
                            text-align: right;

                            img {

                                @media(max-width: 1600px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}