.cards_green_sec {

    padding-bottom: 250px;

    background-color: #EBE0D3;
       .container {

        margin-bottom: -180px;
        h6{
            color: #202020;
        }
        .approach-wrapper {
            h2.heading1{
                font-size: 49px;
                font-weight: bold;
                line-height: 51px;
                text-align: center;
                margin-bottom: 30px;
                @media (max-width:490px) {
                    text-align: unset;
                    font-size: 35px;
                    margin-bottom: 10px;
                    br{
                        display: none;
                    }
                }
            }
            .row {
                width: 100%;

                @media (max-width: 767.5px) {
                    margin: 0;
                }
                
                .col-md-12 {

                    .approach-box {
                        margin-bottom: 12px;
                        border-color: #cecece;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 22px;
                        background: linear-gradient(90deg, #71ba32 0.00%, #4eb3e8 100.00%);
                        padding: 20px 50px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 20px;

                        @media (max-width: 767.5px) {
                            padding: 20px 30px;
                        }

                        @media (max-width: 575px) {
                            flex-direction: column;
                        }
                        // &:nth-child(even) {
                        //     margin-left: 62px;

                        //     @media (max-width: 992px) {
                        //         margin-right: 30px;
                        //     }

                        //     @media (max-width: 767.5px) {
                        //         margin-right: 0px;
                        //     }
                        // }

                        // &:nth-child(3) {
                        //     margin-left: 62px;

                        //     @media (max-width: 992px) {
                        //         margin-right: 30px;
                        //     }

                        //     @media (max-width: 767.5px) {
                        //         margin-right: 0px;
                        //     }
                        // }

                        .left-sec {
                            display: flex;
                            align-items: center;
                            gap: 20px;

                            @media (max-width: 992px) {
                                flex-direction: column;
                                gap: 20px;
                                align-items: flex-start;
                            }

                            @media (max-width: 480px) {
                                align-items: center;
                            }

                            .sec-img {
                                height: 86px;
                                min-height: 86px;
                                min-width: 86px;
                                width: 86px;
                                border-radius: 50%;

                                img {
                                    height: 100%;
                                    width: 100%;
                                    border-radius: 50%;
                                }
                            }

                            .text-area {
                                h2.heading {
                                    font-size: 22px;
                                    font-weight: normal;
                                    line-height: 30px;
                                    font-style: normal;
                                    text-align: left;
                                    color: white;
                                    margin-bottom: 0px;
                                }
                                p.description {
                                    font-size: 16px;
                                    font-weight: normal;
                                    line-height: 26px;
                                    font-style: normal;
                                    text-align: left;
                                    color: #202020;
                                    margin-bottom: 0;
                                }
                            }
                        }

                        .right-sec {
                            .approach-btn {
                                width: 196px;
                                height: 66px;
                                border-color: #cccccc;
                                border-width: 1px;
                                border-style: solid;
                                border-radius: 19px;
                                display: flex;
                                align-items: center;
                                justify-content: center;

                                @media (max-width: 992px) {
                                    width: max-content;
                                    height: max-content;
                                    padding: 15px 20px;
                                }

                                @media (max-width: 450px) {
                                    height: max-content;
                                    padding: 10px 10px;
                                    border-radius: 5px;
                                    height: 48px;
                                }

                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    text-align: center;
                                    color: #000000;
                                }
                            }
                        }
                    }

                    .approach-box.active {
                        background: #f4f4f4;
                        margin-left: 62px;

                        @media (max-width: 480px){
                            margin-left: unset; 
                        }

                        .left-sec {
                            padding: 20px;
                            gap: 245px;
                            
                            @media (max-width: 850px) {
                                align-items: center;
                                gap: 20px;
                            }

                            .text-area {
                                h3.heading {
                                    color: #fff;
                                }
                                p.description {
                                    color: #fff;
                                }
                            }
                        }

                    }
                }
            }
            .sec-btns {
                display: flex;
                align-items: center;
                gap: 28px;
                justify-content: center;
                padding-top: 35px;

                a {
                    width: 195px !important;
                    height: 66px;
                    border-radius: 19px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 992px) {
                        width: max-content;
                        height: max-content;
                        padding: 15px 20px;
                    }
                    @media (max-width: 450px) {
                        height: max-content;
                        padding: 10px 10px;
                        border-radius: 5px;
                        height: 48px;
                    }

                    span {
                        font-size: 16px;
                        font-weight: 500;
                        font-style: normal;
                        text-align: center;
                        color: #000000;
                    }
                }

                .learn-btn {
                    background: #71ba32;
                    background: linear-gradient(-130deg, 
                    #71ba32 0.00%, 
                    #4eb3e8 100.00%);
                    border: none;
                    
                    span {
                        color: #EBE0D3;
                    }
                }

                .signup-btn {
                    border: 2px solid black;
                    background: transparent;

                    span {
                        color: #000000;
                    }
                }
            }
        }
    }
}