.Network {
    background-color: #EBE0D3;
    .container {

        .network-wrapper {
            // padding: 10px 0 140px;

            // @media (max-width: 1200px) {
            //     padding: 10px 0 120px;
            // }
            // @media (max-width: 992px) {
            //     padding: 10px 0 80px;
            // }
            // @media (max-width: 767.5px) {
            //     padding: 10px 0 60px;
            // }

            .row {
                // align-items: center;
                @media (max-width: 767.5px) {
                    margin: 0;
                }
                .col-md-6 {
                    
                    .left-content {
                       

                        @media (max-width: 767.5px) {
                            padding: 0px;
                            
                        }
                        
                        p.meta {
                            font-size: 20px;
                            font-weight: bold;
                            font-style: normal;
                            text-align: center;
                            color: #4EB3E8;
                            margin-bottom: 7px;
                        }
                        h2.heading {
                            font-size: 49px;
                            font-weight: normal;
                            line-height: 51px;
                            font-style: normal;
                            text-align: left;
                            color: #000;
                            margin-bottom: 20px;

                            @media (max-width: 992px) {
                                font-size: 40px;
                            }
                            @media (max-width: 767.5px) {
                                font-size: 35px;
                                margin-bottom: 30px;
        
                                br {
                                    display: none;
                                }
                            }
                            @media (max-width: 575px) {
                                font-size: 30px;
                                margin-bottom: 15px;
                                line-height: 35px;
                            }
        
                        }
                        p.description {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            font-style: normal;
                            text-align: left;
                            color: #202020;
                        }
                       

                       
                    }

                    .right-content {

                        @media (max-width: 767.5px) {
                            padding: 115px 0px 10px;
                        }
                        .section-img img {
                            width: 100% !important;
                        }
                        
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .network .section-img img {
        width: 410px;
    }
}