.staffing-options-container {
    padding-block: 50px;
    .container {

        max-width: 1400px !important;

        .empowercare-wrapper {
            padding: 90px 0px;

            @media (max-width: 1200px) {
                padding: 10px 0 120px;
            }
            @media (max-width: 992px) {
                padding: 10px 0 80px;
            }
            @media (max-width: 767.5px) {
                padding: 10px 0 60px;
            }

        }

        .flex {

            .section-img img {
                height: 370px !important;
            }

            .left-content{
                text-align: center !important;
                display: flex;
                flex-direction: column;
            }

            .sec-btns {
                display: flex;
                justify-content: center;
            }

            .center-content {
                max-width: 800px;
                margin-inline: auto;
            }

            span.meta {
                font-size: 20px;
                font-weight: bold;
                font-style: normal;
                text-align: center;
                color: #4EB3E8;
                margin-bottom: 7px;
            }

            p.description {
                padding-top: 15px;
            }

            h2.heading {
                font-size: 49px;
                font-weight: normal;
                line-height: 51px;
                font-style: normal;
                text-align: center;
                color: #000;
                margin-bottom: 20px;
                width: 800px;

                @media (max-width: 767.5px){
                    font-size: 30px;
                    line-height: 40px;
                    margin-bottom: 10px;
                    width: 100%;
                }

                span{
                    background: linear-gradient(90deg, #71ba32 0.00%, #4eb3e8 100.00%);
                    // background: -webkit-linear-gradient(180deg, #71ba32, #4eb3e8);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    text-transform: uppercase;
                    font-weight: bold;                }
            }

            button.learn-btn {
                width: 400px;
                height: 66px;
                border-radius: 19px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #71ba32;
                background: linear-gradient(-130deg, #4eb3e8 0.00%, #71ba32 100.00%);
                // background: linear-gradient(-130deg, #71ba32 0%, #4eb3e8 100%);
                border: 1px solid #fff;
                border: none;
                position: relative;
                margin-top: 30px;

                span{
                    font-size: 16px;
                    font-weight: 500;
                    font-style: normal;
                    text-align: center;
                    color: #fff;
                }

                img {
                    position: absolute;
                    top: 25px;
                    right: 20px;
                    height: 18px;
                    width: 18px;
                }
            }

            .buttons-flex {
                display: flex;
                gap: 10px;
                margin-top: 50px;
                margin-bottom: 20px;
                justify-content: center;

                @media (max-width: 767.5px){
                    align-items: center;
                    flex-direction: column;
                }
            }

            .center-heading {
                margin: 0 auto;
            }

            button.jobs-btn {
                width: 230px;
                height: 50px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: start;
                position: relative;
                background-color: #f4f4f4;
                border: none;
                padding-left: 15px;

                span{
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    text-align: center;
                    color: black;
                }

                img {
                    position: absolute;
                    right: 10px;
                }
            }
        }
    }
}