.our-history {

    padding-top: 50px;
    padding-bottom: 70px;
    .container {
        .our-history-wrapper {
            background: radial-gradient(farthest-corner at 100% 0%, #5c5e62 0%, #0c0f14 100%);
            padding: 80px;
            border-radius: 60px;
            @media (max-width:480px) {
                padding: 20px;
            }

            .row {
                .col-lg-6 {
                    .content {
                        padding-top: 30px;
                        text-align: left;

                        .meta {
                            color: #4EB3E8;
                            font-size: 16px;
                        }

                        .heading {
                            color: white;
                            font-size: 43px;
                            font-weight: bold;
                        }

                        .description {
                            color: white;
                            font-size: 17px;
                            
                        }

                        a.learn_btn {
                            background: transparent;
                            color: white;
                            text-decoration: none;
                            padding: 18px 30px;
                            border-radius: 19px;
                            border: 1px solid white;
                            
                            
                        }
                    }
                }
            }
        }
    }
}