.post_job_form .trusted-sec {
    // background-image: url(../../Assets/bodybg1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    background-color: #EBE0D3;

    .container {
        .trusted-wrapper {
            padding: 30px 0;

            .top-content {
                text-align: center;
                margin-bottom: 20px;

                span.meta {
                    font-size: 20px;
                    font-weight: normal;
                    font-style: normal;
                    text-align: center;
                    color: #4eb3e8;
                    margin-bottom: 10px;
                }

                h2.heading {
                    font-size: 49px;
                    font-weight: normal;
                    line-height: 51px;
                    font-style: normal;
                    text-align: center;
                    color: #000000;

                    @media (min-width: 992px) {
                        padding: 1% 23%;
                    }
                    @media (max-width: 992px) {
                        font-size: 40px;
                    }
                    @media (max-width: 767.5px) {
                        font-size: 35px;
                        br {
                            display: none;
                        }
                    }
                    @media (max-width: 575px) {
                        font-size: 30px;
                        line-height: 35px;
                    }

                    span {
                        background: -webkit-linear-gradient(180deg, #71ba32, #4eb3e8);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
            }

            .content{
                display: flex;
                justify-content: center;

                p {
                    width: 579px;
                    height: 70px;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px;
                    font-style: normal;
                    text-align: center;
                    color: #202020;
                }
            }

            .trusted-row {
                padding: 13px 14px;
                display: flex;
                align-items: center;
                gap: 12px;
                width: 100%;
                border-color: #cecece;
                border-width: 1px;
                border-style: solid;
                border-radius: 22px;
                background: #4eb3e8;
                background: linear-gradient(-135deg, 
                #4eb3e8 0.00%, 
                #71ba32 100.00%);

                @media (max-width: 767.5px) {
                    flex-wrap: wrap;
                }

            }
        }

        .signup_form_controller {

            .signup_checkboxes {
                margin-bottom: 10%;
            }

            .checkbox_wrapper {
                padding-top: 3%;

                .checkboxes_container {
                    display: flex;
                    gap: 20px;

                    @media (max-width: 821px){
                        flex-direction: column;
                    }
                }

                label {
                    position: relative;
                    padding: 10px 25px;
                    border-color: #000000;
                    border-width: 1px;
                    border-style: solid;
                    border-radius: 15px;
                    cursor: pointer;

                    @media (max-width: 1024px) {
                        padding: 10px 8px;
                    }
                }
                label.active {
                    background: linear-gradient(-130deg, #71ba32 0%, #4eb3e8 100%);
                    border: none;
                    color: #ffffff;
                    padding: 11px 26px;
                }

                input {
                    opacity: 0;
                }

                input[type='checkbox']:checked + label {
                    background: linear-gradient(-130deg, #71ba32 0%, #4eb3e8 100%);
                    border: none;
                    color: #ffffff;
                    padding: 11px 26px;
                }
            }

            .signup_container {
                position: relative;
                background: #f4f4f4;
                border-radius: 20px;
                padding: 6% 0%;

                .top-content {
                    // padding: 7% 0px 0px 0px;
                    p {
                        padding: 1% 13%;
                    }
                }

                .form_fields {
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    text-align: center;
                    padding: 0px 8%;

                    h4 {
                        text-align: left;
                        margin-top: 40px;
                    }

                    .row-input {
                        display: flex;
                        gap: 10px;

                        textarea {
                            height: 180px;
                            width: 100%;
                        }
                    }

                    .row-input.job_file {
                        input {
                            width: 100%;
                            height: 150px;
                        }
                    }

                    .rounded-input {
                        border-color: #d5d5d5;
                        border-width: 1px;
                        border-style: solid;
                        border-radius: 15px;
                        background: #eeeeee;
                        padding: 12px;
                        width: 50%;
                        height: 100%;
                    }
                    .form_consent {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-top: 20px;
                        p {
                            text-align: left;
                            margin: unset;
                        }
                    }
                }

                img.form-icon {
                    position: absolute;
                    top: -24px;
                    right: -3%;

                    @media (max-width: 821px){
                        top: -26px;
                        right: -6%;
                    }
                    
                    @media (max-width: 480px){
                        top: -55px;
                        right: -3%;
                    }
                }
            }
        }
    }
}