.text_image_group {

    @media ( min-width: 1024px ){
        padding-bottom: 70px;
    }

    .healthcare-sec {
        background-image: url(../../Assets/bodybg2.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        overflow: hidden;
        background-color: #EBE0D3;

    .container {

        .healthcare-wrapper {

            .row {
                align-items: center;
                position: relative;
                padding-bottom: 10%;

                @media (max-width: 767.5px) {
                    margin: 0;
                }

                .left-content-container{
                    z-index: 1;
                }

                .col-md-12 {
                    .left-content {
                        background-color: white;
                        padding: 35px;
                        border-radius: 50px;

                        // @media (max-width: 767.5px) {
                        //     padding: 0px;
                        // }
                        
                        span.meta {
                            font-size: 20px;
                            font-weight: normal;
                            font-style: normal;
                            text-align: left;
                            color: #4EB3E8;
                            margin-bottom: 7px;
                        }
                        h2.heading {
                            font-size: 40px;
                            font-weight: normal;
                            line-height: 51px;
                            font-style: normal;
                            text-align: left;
                            color: #000;
                            margin-bottom: 20px;

                            @media (max-width: 992px) {
                                font-size: 40px;
                            }
                            @media (max-width: 767.5px) {
                                font-size: 35px;
                                margin-bottom: 30px;
        
                                br {
                                    display: none;
                                }
                            }
                            @media (max-width: 575px) {
                                font-size: 30px;
                                margin-bottom: 15px;
                                line-height: 35px;
                            }
        
                            span {
                                background: -webkit-linear-gradient(180deg, #71ba32, #4eb3e8);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        ul {
                            list-style-type: none;
                            padding-left: 0;

                            li {
                                span {
                                    font-size: 16px;
                                    font-weight: normal;
                                    line-height: 26px;
                                    font-style: normal;
                                    text-align: left;
                                    color: #202020;
                                }
                            }
                        }

                        .sec-btns {
                            display: flex;
                            align-items: center;
                            margin-top: 40px;
                            position: relative;
                            width: max-content;

                            @media (max-width: 1200px) {
                                margin-top: 60px;
                            }
                            @media (max-width: 992px) {
                                margin-top: 40px;
                            }
                            @media (max-width: 767.5px) {
                                margin-top: 30px;
                            }

                            button {
                                background-color: unset;
                                border: none;

                                @media (max-width: 992px) {
                                    width: max-content;
                                    height: max-content;
                                    padding: 15px 20px;
                                }
                                @media (max-width: 450px) {
                                    height: max-content;
                                    padding: 10px 10px;
                                    border-radius: 5px;
                                    height: 48px;
                                }

                                span {
                                    font-size: 16px;
                                    font-weight: 500;
                                    font-style: normal;
                                    text-align: center;
                                    color: #fff;
                                }
                            }
                            
                            .active-img {
                                position: absolute;
                                top: -45px;
                                right: -130px;

                                @media (max-width: 767px) {
                                    display: none;
                                }
                            }
                        }
                    }

                    .right-content {
                        @media (max-width: 767.5px) {
                            padding: 60px 0px 10px;
                        }
                        .section-img {
                            @media (min-width: 1025px) {
                                position: relative;
                                text-align: left;
                            }

                            img {
                                @media(max-width: 1600px) {
                                    width: 100%;
                                }
                                @media(min-width: 1025px) {
                                    width: 100%;
                                    position: absolute;
                                    right: 0;
                                    left: 80px;
                                    top: -129px;
                                }
                                border-radius: 50px;
                            }
                        }
                    }
                }
            }
        }
    }
}
}