.popover {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 140px;
}

.navbar-collapse.show {
    z-index: 999;
    .MuiStack-root.css-8ri0v7 {
        // display: unset !important;
        // column-count: 2 !important;
        padding: unset !important;
    }
}

.popover-link {
    margin: unset !important;
    text-decoration: none;
    color: #333;
    transition: all 0.8s ease;
    padding: 3px;
    font-weight: bold;

    .MuiStack-root {
        align-items: center;
        .MuiBox-root {
            padding: unset !important;
        }
    }
}

.dropdown-wrapper {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 140px;

    .row {
        .col-lg-4 {
            .box1 {
                width: 63%;

                .row {
                    .col-lg-12 {



                        .card1 {
                            padding: 10px;
                            background: #71ba32;
                            background: linear-gradient(-134deg, #4eb3e8 0.00%, #71ba32 100.00%);

                            p {
                                color: black;
                            }

                            width: 35%;

                        }
                    }
                }
            }
        }
    }
}