body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  font-family: 'Montserrat', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_gradient{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.btn.quick-btn{
  background: linear-gradient(-130deg, #71ba32 0%, #4eb3e8 100%);
  width: 196px;
  height: 66px;
  border-radius: 19px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}


@media (max-width: 480px){
  .btn.quick-btn{
    width: 156px;
    height: 50px;
  }
}

span.text_grad_red {
  background: linear-gradient(90deg, 
  #e6632a 0.00%, 
  #ee8d80 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  font-weight: bold;

}

  span.text_grad_green{
    background: linear-gradient(-134deg, #4eb3e8 0.00%,#71ba32 100.00%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
  }

.priemer-cta{
  position: relative;
}
.priemer-cta a{
  position: absolute;
  top: 30px;
}

a.btn_red{
  background: #ee8d80;
  background: linear-gradient(-130deg, 
  #ee8d80 0.00%, 
  #e6632a 100.00%);
  color: #ffffff;
  text-decoration: none;
  padding: 18px 50px;
  border-radius: 19px;
  text-align: center;
}
a.learn_more{
  background: transparent;
  color:black;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 19px;
  border: 1px solid black;
  margin-left: 5px;
  text-align: center;
}
a.btn_green{
  background: #ee8d80;
  background: linear-gradient(-134deg, #4eb3e8 0.00%,#71ba32 100.00%);
  color: #ffffff;
  text-decoration: none;
  padding: 18px 50px;
  border-radius: 19px;
  text-align: center;
}

@media (max-width: 480px) {
  a.btn_red {
    padding: 16px 24px;
  }
}

.btn_cta {
  display: flex;
  gap: 10px;
}

.btn_cta a{
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  text-decoration: none;
}