.cpr-staffing-container {

    margin-bottom: 50px;

    .opportunity-container {
        width: 100%;
        margin: auto;
        padding-inline: 40px;

        @media (max-width: 1200px) {
            padding: 120px 0;
        }
        @media (max-width: 992px) {
            padding: 80px 0;
        }
        @media (max-width: 767.5px) {
            padding: 60px 0;
        }

        .opportunity-wrapper {
            padding: 70px 0;
            border-radius: 50px;
            // background: #71ba32;
            background: radial-gradient(farthest-corner at 100% 0%, #5c5e62 0%,#0c0f14 100%);

            @media (max-width: 1200px) {
                padding: 120px 0;
            }
            @media (max-width: 992px) {
                padding: 80px 0;
            }
            @media (max-width: 767.5px) {
                padding: 60px 0;
            }

            .row {
                @media (max-width: 767.5px) {
                    margin: 0;
                }
                .col-md-6 {
                    .left-content {
                        padding-right: 70px;

                        @media (max-width: 767.5px) {
                            padding-right: 0px;
                        }
                        
                        span.meta {
                            font-size: 20px;
                            font-weight: 600;
                            font-style: normal;
                            text-align: left;
                            color: #4eb3e8;
                            margin-bottom: 7px;
                        }
                        h2.heading {
                            font-size: 49px;
                            font-weight: 600;
                            line-height: 51px;
                            font-style: normal;
                            text-align: left;
                            color: #fff;
                            margin-bottom: 20px;

                            @media (max-width: 992px) {
                                font-size: 40px;
                            }
                            @media (max-width: 767.5px) {
                                font-size: 35px;
                                margin-bottom: 30px;
        
                                br {
                                    display: none;
                                }
                            }
                            @media (max-width: 575px) {
                                font-size: 30px;
                                margin-bottom: 15px;
                                line-height: 35px;
                            }
        
                            span {
                                background: -webkit-linear-gradient(180deg, #71ba32, #4eb3e8);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-transform: uppercase;
                                font-weight: bold;
                            }
                        }
                        p.description {
                            font-size: 16px;
                            font-weight: normal;
                            line-height: 26px;
                            font-style: normal;
                            text-align: left;
                            color: #fff;
                            margin-bottom: 20px;
                        }

                        .sec-btns {
                            display: flex;
                            align-items: center;
                            gap: 28px;

                            .about-us-btn{
                                background-color: transparent;
                                color: white;
                                border: 2px solid white;
                                padding: 10px 35px;
                                border-radius: 10px;
                            }

                            .learn-btn{
                                background: linear-gradient(-130deg, 
                                #4eb3e8 0.00%, 
                                #71ba32 100.00%);
                                color: white;
                                padding: 10px 20px;
                                border-radius: 10px;
                                border: none;
                            }

                        }
                    }

                    .right-content {
                        @media (max-width: 767.5px) {
                            padding: 60px 0px 10px;
                        }
                        .section-img {
                            text-align: right;

                            img {

                                @media(max-width: 1600px) {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}